:root {
    --dark-mode-EL: hsl(209, 23%, 22%);
    --dark-mode-bg: hsl(207, 26%, 17%);
    --dark-mode-text: hsl(0, 0%, 100%);
    --light-mode-text: hsl(200, 15%, 8%);
    --light-mode-input: hsl(0, 0%, 52%);
    --light-mode-bg: hsl(0, 0%, 98%);
    --light-mode-EL: hsl(0, 0%, 100%);
}

header {
    box-shadow: inset 0px -2px 15px -14px rgba(0, 0, 0, 1);
}

main {
    width: 100%;
    height: calc(100% - 6.2em);
    padding: 2em 1em;
}

.App__header__light {
    background-color: var(--light-mode-EL);
    color: var(--light-mode-text);
}

.App__header__dark {
    background-color: var(--dark-mode-EL);
    color: var(--dark-mode-text);
}

.App__main__light {
    background-color: var(--light-mode-bg);
    color: var(--light-mode-text);
}

.App__main__dark {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

